<!DOCTYPE html>
<html>
<div>
<head>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body style="margin-bottom:0px;">
<header>
<h1>{{ self.title() }}</h1>
<nav style="top:-20px;position:relative;">
<ul>
<li><a href="/">Home</a></li>
<li><a href="{{url_for('users.profile')}}">Profile</a></li>
</ul>
</nav>
</header>
{% set messages = get_flashed_messages() %}
{% if messages %}
<section style="top:-20px;position:relative;">
	{% for message in messages %}
	<p>{{ message }}</p>
	{% endfor %}
</section>
{% endif %}
<section style="bottom:25px;position:relative;background-color:White;">
{% block content %}{% endblock %}
</section>
<footer style="position:fixed;bottom:20px;width:100%;height:20px;background-color:White;">
<hr>
{% if current_user.is_anonymous() %}
<a href="{{url_for('users.register')}}">Register</a> / <a href="{{url_for('users.login')}}">Log In</a>
{% else %}
Logged in as {{current_user.name}} <a href="{{url_for('users.logout')}}">Logout</a>  |  
Add a <a href="{{url_for('keeper.add_group')}}">group</a>  |  
Add a <a href="{{url_for('keeper.new')}}">contact</a>  |  
View <a href="{{url_for('keeper.view_groups')}}">groups</a>
{% endif %}
</footer>
</body>
</div>
</html>
